*{
    margin:0px;
    padding:0px;
}
nav {
    background-color: #0f0f0f;
    color: white;
    padding: 0.2rem;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 2rem;
    padding-right: 30px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s;
  }
  .nav-links a:hover{
    color: rgb(224, 163, 217);
  }
  .logo{
    color: rgb(224, 163, 217);
    margin-left: 30px;
    text-decoration: none;
    font-size: 2.5rem;
    font-family:'Pacifico', cursive;

  }
 
  
  #cover{
    width:100%;
    height:90vh;
    
  }
  

  
  .title {
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .quote {
    font-size: 24px;
    color: #f0f0f0;
    margin-bottom: 40px;
    font-style: italic;
  }
  
  .start {
    padding: 15px 30px;
    font-size: 20px;
    background-color: gray;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: 0.4s ease;
   
  }
  .mood-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .mood-buttons{
    display: flex;
  gap: 40px; 
  justify-content: center; 
  margin: 20px 0;
    
  }
  .moodbtn{
    gap:30px;
    padding: 15px 30px;
  font-size: 20px;
  background: linear-gradient(135deg, #550750, #c23fb4);
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: 0.4s ease;
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
 .moodbtn.active{
     background:linear-gradient(135deg, #2511bc, #06054c);;
     color:#ffffff;
     transform: scale(1.1);
 }
 
  body{
    background-color: #4c4949;
  }
  .track-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .track-card {
    text-align: center;
    font-size: 20px;
    background-color: rgb(186, 178, 178);
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 5px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
  }
  
  #head{
    color:#ffffff;
    font-family: 'Pacifico',cursive;
    font-size: 50px;
  }
  #vibe-quote{
    color:#ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
  }
  footer{
    background-color: black;
    color:#f0f0f0;
    
    padding-bottom: 10px;
  }
  .about-container{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size :1.2rem;
  }
  .logo1{
    color: rgb(172, 84, 161);
    text-decoration: none;
    font-size: 4.5rem;
    font-family:'Pacifico', cursive;

  }
 
 .link{
    list-style: none;
    padding: 10px;
   
 }
 .link li a{
    
    text-decoration: none;
    color:aliceblue;
    font-size:1.5rem;
 }
 .link :hover{
  color:rgb(172, 84, 161);
 }